extends layout

block content
  h1= title
  p `GET /api/v1`:
    p * `/students` lists all users that have received at least one test score
    p * `/students/{id}` lists the test results for the specified student, and provides the student's average score across all exams
    p * `/exams` lists all the exams that have been recorded
    p * `/exams/{number}` lists all the results for the specified exam, and provides the average score across all students
